{% extends "base.html" %}
{% block title %}Attendance Records{% endblock %}
{% block content %}
    <h1>Attendance Records</h1>

    <div class="alert alert-info" role="alert">
        selamat datang di absensi siswa/siswi kelas XI RPL :)
    </div>



    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Tanggal</th>
                <th>Status</th>
                <th>pengaturan</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.id }}</td>
                <td>{{ record.nama }}</td>
                <td>{{ record.tanggal }}</td>
                <td>{{ record.status }}</td>
                <td>
                    <a href="/absensi/delete/{{ record.id }}" class="btn btn-danger">Hapus</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
